* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  height: 75px;
  /*background: transparent;*/
  background: #00FF00;
  z-index: 10;
}

.logo img{
  position: absolute;
  width: 150px;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.header-list-container {
  position: absolute;
  width: 30%;
  right: 25%;
  top: 40%;
}

.header-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  justify-content: space-around;
}

.header-list li{
  padding: 0px 10px 0px 10px;
  margin: 0;
}

.header-list {
  margin: 0;
}

.header-list > a {
  text-decoration: none;
  color: white;
}

.header-list a {
  text-decoration: none;
  color: white;
}

.banner-img {
  position: relative;
  height: 500px;
  width: 100%;
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg") no-repeat;
  background-size: cover;
  /*background-position: center;*/
}

.banner-text {
  position: absolute;
  width: 90%;
  height: 250px;
  color: white;
  /*margin: auto;*/
  text-align: center;
  /*margin-top: 150px;*/
  margin-left: 50%;
  bottom: 5%;
  transform: translateX(-50%) translateY(-50%);
}

.banner-text h1,.banner-text h2,.banner-text h3{
  padding: 0;
  margin: 0;
}

.banner-text h1 {
  font-size: 100px;
  /*text-align: center;*/
}

.banner-text h2 {
margin-right: 425px;
}

.banner-button {
  position: absolute;
  color: white;
  font-size: 20px;
  background: #00FF00;
  border: none;
  padding: 20px 100px 20px 100px;
  border-radius: 50px;
  margin-left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.banner-button a {
  text-decoration: none;
  color: white;
}

.main-description {
  padding: 35px;
  text-align: center;
  font-size: 24px;
  color: #6a787c;
  background: #ededed;
}

.sprite:before {
  content: " ";
    display: block;
    background: url('http://wideopentech.com/themes/wot-2013-gm/_/img/sprite_home.png');
    width: 75px;
    height: 75px;
    margin: 0 auto;
    background-position: -22px -113px;
    margin-bottom: 20px;
}

.icon-paragraphs {
  padding: 50px;
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  color: #939393;
  line-height: 24px;
  font-size: 18px;
}

.paragraph1:before {
  content: ' ';
  display: block;
  background: url('http://wideopentech.com/themes/wot-2013-gm/_/img/sprite_home.png');
  width: 125px;
  height: 150px;
  margin: 0 auto;
  background-position: -305px -100px;
  margin-bottom: 20px;
}

.paragraph2:before {
  content: ' ';
  display: block;
  background: url('http://wideopentech.com/themes/wot-2013-gm/_/img/sprite_home.png');
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-position: -724px -100px;
  margin-bottom: 70px;
}

.paragraph2 {
  border-right: 1px solid #6a787c;
  border-left: 1px solid #6a787c;
}

.paragraph3:before {
  content: ' ';
  display: block;
  background: url('http://wideopentech.com/themes/wot-2013-gm/_/img/sprite_home.png');
  width: 100px;
  height: 120px;
  margin: 0 auto;
  background-position: -120px -100px;
  margin-bottom: 50px;
}

.para {
  width: 275px;
}

.para div {
  margin-bottom: 30px;
}

.icon-paragraphs a {
  text-decoration: none;
  font-size: 14px;
  color: #ff803a;
}

.help {
  background: #ededed;
  color: #6a787c;
  text-align: center;
  padding: 20px;
}

.help > h1 {
  font-size: 30px;
}

.help-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.help-column {
  width: 500px;
}

.help-box {
  background: white;
  padding: 10px;
  margin: 10px;
}

.contact-button {
  background: #bdd436;
  border: none;
  margin: 60px 0px 40px 0px;
  border-radius: 50px;
  color: white;
  padding: 15px 40px 15px 40px;
  font-size: 16px;
}

.contact-button a {
  text-decoration: none;
  color: white;
}

.bottom-images > h1 {
  position: relative;
  text-align: center;
  font-size: 30px;
  color: #6a787c;
  padding: 20px 0px 20px 0px;
}

.comp-img{
  padding: 0;
  margin: 0;
  width: calc(100%/3);
  display: inline-block;
  float: left;
}

.comp-img img{
  width: 100%;
  padding: 0;
  margin: 0;
}

.company-images {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.green-bar {
  background: #40666d;
  color: white;
  padding: 75px 120px 75px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  clear: both;
}

.email {
  color: white;
  font-size: 20px;
  background: #00FF00;
  border: none;
  height: 50px;
  width: 150px;
  border-radius: 50px;
}

.email a {
  text-decoration: none;
  color: white;
}

/*.contact-info {
  display: inline-block;
  float: left;
}*/

.contact-info-img {
  position: relative;
  width: calc(100%/2);
  padding: 0;
  margin: 0;
  display: inline-block;
  float: left;
}

.contact-info-img img {
  width: 100%;
}

.transparent-box {
  position: absolute;
  width: 60%;
  margin: auto;
  background: #132023;
  opacity: .8;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.footer {
  position: relative;
  height: 50px;
  width: 100%;
  clear: both;
}

.footer h5 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #00FF00;
}

.chat {
  position: fixed;
  background: #00FF00;
  color: white;
  width: 150px;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 0px 4px 2px grey;
